<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV["APP_NAME"] %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6e896dfcb0.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <% if notice %><p class="alert alert-warning"><%= notice %></div><% end %>
    <% if alert %><p class="alert alert-danger"><%= alert %></p><% end %>
    <div class="row">
    <% if user_signed_in? %>
      <div class="col-3">
        <%=render partial: 'layouts/sidebar' %>
      </div>
    <% end %>
      <div class="col">
        <main class="py-4 mb-5">
          <%= yield %>
        </main>
      </div>
    </div>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>